<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/administracion/personas">Personas</a></li>
        <li><a routerLink="/administracion/productos">Productos</a></li>
        <li><a routerLink="/seguridad/cambioClave">Cambiar Clave</a></li>
        <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/administracion/personas">Personas</a></li>
    <li><a routerLink="/administracion/productos">Productos</a></li>
    <li><a routerLink="/seguridad/cambioClave">Cambiar Clave</a></li>
    <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
  </ul>
